.registration-form {
    min-height: calc(100vh - var(--navbar-height));
    height: 100%;
    max-height: calc(100vh - var(--navbar-height));
    width: 100%;
    max-width: 100vw;
    background: var(--dark-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
  }
  .registration-form .card {
    min-height: 600px;
    width: 520px;
    padding: 24px 36px 0 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .registration-form .card .error {
    color: var(--bright-red);
  }
  .registration-form .card h2 {
    font-size: 42px;
    margin-bottom: 4px;
    font-weight: 600;
    color: var(--pure-white);
  }
  
  .registration-form .card .form-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding-bottom: 10px;
    color: var(--pure-white);
  }
  .registration-form .card .split-input-field {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;
  }
  .registration-form .card .form-input .input-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin: 8px 0;
    flex: 1;
  }
  .registration-form .card .form-input .input-field label {
    margin-bottom: 5px;
    color: var(--pure-white);
  }
  .registration-form .card .form-input .input-field input {
    height: 50px;
    padding: 0 15px;
    font-size: 16px;
    border: solid 1px white;
    width: 100%;
    background: transparent;
    color: var(--pure-white);
  }
  .registration-form .card .form-input .input-field input::placeholder {
    color: var(--border-color);
  }
  .registration-form .card .form-input .btn {
    width: 100%;
    height: 70px;
    background: #00c98e;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: var(--dark-blue); */
    border: none;
    cursor: pointer;
    margin-top: 15px;
  }
  .registration-form .card .footer {
    border-top: solid 1px var(--border-color);
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    color: var(--pure-white);
  }
  .registration-form .card .footer p {
    color: var(--pure-white);
  }
  